/*YP Horizontal Framework A v4.1 - 4-19-2013
fixed calculators and typography 
MODULE STYLING  added 4/4/2013
Updated mobile menu 4/5/2013
Markup-Cleanup 4/19/2013
 */

@import url("gfx/wp-skeleton.css"); 

header, footer, nav, section, article {display: block;}

body {
	margin: 0;
	color: #e5e5e5;
	font-size : 100%;
	font-family: Arial, Helvetica, sans-serif; /* Set default font styles here */
	line-height: 1.4;
}
	body { 
		/* Set background image POSITION and REPEAT here! */
		background: transparent url(gfx/contentBG2.jpg) repeat scroll top left;	
	}
		
.skinBg { 
	background-image: url(gfx/coverBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}		

/* 2.HEADINGS */

h1, h1 span, h1 font span,
h2, h2 span, h2 font span, 
h3, h3 span, h3 font span, 
h4, h4 span, h4 font span, 
h5, h5 span, h5 font span, 
h6, h6 span, h6 font span {
	font-weight:bold;
	margin-bottom : 8px;
	line-height: 120%;
	color: #97C3F2;
}
h1, h1 span, h1 font span { 
	font-size : 34px; 
}
h2, h2 span, h2 font span{ 	
	font-size : 30px; 
}
h3, h3 span, h3 font span {	
	font-size : 28px; 
}
h4, h4 span, h4 font span { 	
	font-size : 24px; 
}
h5, h5 span, h5 font span { 
	font-size : 20px;  
}
h6, h6 span, h6 font span { 
	font-size : 20px; 
}

/* 3.TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address { 
	margin-bottom : 16px; 
	font-size : 14px; 
	color: #e5e5e5;
}
/* add text styling to divs as Websplanet loves to wrap text in divs throughout the platform, just don't include a margin */
div {
	font-size: 14px;
}
	
	/* 3a. Websplanet widget typography 
		   Contact Conor Kelly or Ian Glaze with questions.
	*/
	/* By default, websplanet widgets have css styling in other style sheets that will over-ride the styles applied to the html elements abover in "3.Typography". To correctly style the text in these widgets, re-define font color and additional styling using the tags below */
	
	div.reviewItem,
	div.freetextarea, 
	label, 
	div.rss, 
	div#ReviewsWidget, 
	p.figcaption, 
	div.opening-hours-widget-wrapper, 
	div#opening-hours-comments, 
	div#containingBlock, 
	div.calc-input-container, 
	div.calc-input-container span {
		 color: #e5e5e5; /* replace with theme font color */
	}
	
	/* If the theme font color is a lighter color (for themes with darker backgrounds) those colors will get lost when they are within Accordion, Tabs, or Spotlight widgets which, by default, have a white background. Define a theme "dark" text color for these areas using the classes below. */
	
	/* Controller Widgets (Accordions/Tabs/Spotlight Widgets) */
	div.ui-widget-content div.freetextarea,
	div.ui-widget-content div.reviewItem, 
	div.ui-widget-content div.freetextarea, 
	div.ui-widget-content label, 
	div.ui-widget-content div.rss, 
	div.ui-widget-content div#ReviewsWidget, 
	div.ui-widget-content p.figcaption, 
	div.ui-widget-content div.opening-hours-widget-wrapper, 
	div.ui-widget-content div#opening-hours-comments, 
	div.ui-widget-content div#containingBlock, 
	div.ui-widget-content div.calc-input-container, 
	div.ui-widget-content div.calc-input-container span,
	div.diy-f-spot div.freetextarea,
	div.diy-f-spot div.reviewItem, 
	div.diy-f-spot div.freetextarea, 
	div.diy-f-spot label, 
	div.diy-f-spot div.rss, 
	div.diy-f-spot div#ReviewsWidget, 
	div.diy-f-spot p.figcaption, 
	div.diy-f-spot div.opening-hours-widget-wrapper, 
	div.diy-f-spot div#opening-hours-comments, 
	div.diy-f-spot div#containingBlock, 
	div.diy-f-spot div.calc-input-container, 
	div.diy-f-spot div.calc-input-container span {
		color: black; /* Replace with theme specific "dark" text color */
	}	

ul, 
ol { 
	margin : 0 0 1.5em 24px; 
	padding-left : 24px; 
	list-style-position: outside;
}
ul { 
	list-style-type : disc; 
}
ol { 
	list-style-type : decimal; 
}
ul li , 
ol li  { 
	margin : 0;
	font-size : 14px; 
	line-height:140%;
}
dl, 
dd { 
	margin-bottom : 1.5em;
}
dt { 
	font-weight : normal; 
}
blockquote  { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	margin : 0 0 1.5em 24px; 
	padding-left : 24px; 
	border-left : 1px solid #97C3F2; /* hex code can be used here too */
	font-style : italic; 
	font-weight: bold;
	line-height: 1.1;
	color: #cccccc;
}
blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content : '';
	content : none; 
}
b, 
strong	{ 
	font-weight : bold; 
}

i, 
em { 
	font-style : italic; 
}
sup, 
sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; 
}
sup { 
	top : -.5em; 
}
sub { 
	bottom : -.25em; 
}
address { 
	font-style : normal;
}
hr { 
	border: solid #97C3F2; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 8px 0 18px; 
	height: 0; 
}

/* 4.LINKS */
a, 
a:visited {
	outline : none;
	color : #97C3F2; 
	text-decoration : none;
}

a:hover { 
	outline : none;
	text-decoration : underline; 
}
a:active, 
a:focus { 
	outline : none;
	text-decoration : none;
}
/* layout */	
p.m-logo {
	text-align: center;
	font-size:18px;
	color:#FFF;
	padding: 10px;
	text-transform: uppercase;
	display: inline-table;
	margin:0px;
	line-height:normal;
	width:auto;
}	
#wrapper-header, #wrapper-content, #wrapper-footer, #wrapper-copyright { 
	width:100%;
	position:relative;
}
#wrapper-header { }
#wrapper-content {
	background: transparent none;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	box-shadow: 0 0 4px -1px #000000;
	-webkit-box-shadow: 0 0 4px -1px #000000;
	z-index: 5;
}
#wrapper-footer {
	background-color:#97C3F2;
	padding:0px;
} 
#wrapper-copyright {
	display:inline-block;
	background-color: #031533;
	padding: 10px 0px;
	border-top: 2px solid #6c798c;
}
#header { }
#content {
	padding:15px 0px; 
	min-height:100px;
}
div.gradBoarder {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTJhNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #ffffff 0%, #152a48 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#152a48)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#152a48 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#152a48 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#152a48 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#152a48 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#152a48',GradientType=1 ); /* IE6-8 */
	height: 0px;
	width: 100%;
	border: 1px solid #fff;
	display: none;
}	
/* logo */
#logo {
	padding: 25px 0px;
}
#logo h1 {
	margin-bottom: 0;	
}
#logo a, #logo a:hover, #logo a div, #logo a:hover div {
	text-decoration:none;
	color:#152a48;
	font-size: 36px;
	line-height: 1;
	text-align:left;
	text-transform:uppercase;
	font-weight:bold;
}
div.slogan {
	color: #152a48;
	font-size: 24px;
	line-height: 1;
}
	
/* Phone */
/* positioning and box model styling go here */
#phone-number {
	padding:30px 0px;
}
/* font styling goes here */
#phone-number div {
	font-size: 24px;
	line-height: 1;
	text-align:right;
	text-transform:uppercase;
	color:#152a48;
	font-weight: bold;
}
#m-phone-number {
	display:none;
}	

/* header image */
#header-image-container {
	margin-top: 10px; 
	margin-bottom: 45px; 
	position:relative;
}

/* WP wraps #siteMainDynHeaderImage1 with #header-image-wrapper-1 by defult but removes it once the image is replaced */
div#header-image-wrapper-1 { 

} 
img#siteMainDynHeaderImage1 { 
	width:938px; 
	height:auto;
	border: 1px solid #2c6f90;
	box-shadow: 0 1px 3px -1px #000;
	-webkit-box-shadow: 0 1px 3px -1px #000;
}

/* Header media queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	img#siteMainDynHeaderImage1 {
		width: 746px;	
	}
	#header-image-container {
		margin-bottom: 35px;	
	}
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#phone-number {
		padding: 0px 0px 15px;	
	}
	#phone-number div { 
		text-align:center;
	}
	#logo {
		text-align:center;
	}
	img#siteMainDynHeaderImage1 {
		width: 418px;	
	}
	#header-image-container {
		margin-bottom: 30px;	
	}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { 
 	#siteMainDynLogo /*this is for the mobile logo image*/ {
		max-width:300px;
		height:auto;		
	}
	img#siteMainDynHeaderImage1 {
		width: 298px;	
	}
	#header-image-container {
		margin-bottom: 25px;	
	}
}	

/* footer */
#footer-area {
	padding:10px 0px;
}
#footer-area, #footer-area a {
	color: #262837;	
	text-align: center;
}
span.footerText {
	display: none;	
}
/* 5.NAVIGATION/MENU */
/* Feel free to change up this area as you see fit in order to best suit your design. */
#menu {
	background-color:#262837;
	position:relative;
	z-index:400;
	border-radius: 5px;
	-webkit-border-raidus: 5px;
	-moz-border-raduis: 5px;
	height: 50px;
}
ul#nav {
	margin: 1px;
	padding: 0;
	width:938px;
	display: inline-block;
	border-top: 1px solid #6d798c;
	border-radius: 3px;
	-webkit-border-raidus: 3px;
	-moz-border-raduis: 3px;
	
	background: #4d5c73; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNWM3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzRiNjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4d5c73 0%, #3c4b62 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d5c73), color-stop(100%,#3c4b62)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4d5c73 0%,#3c4b62 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4d5c73 0%,#3c4b62 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4d5c73 0%,#3c4b62 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4d5c73 0%,#3c4b62 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5c73', endColorstr='#3c4b62',GradientType=0 ); /* IE6-8 */
}
@media only screen and (max-width: 959px) {
	#menu {
		
	}
	ul#nav {
		width: 746px;
	}
}
/* start first level nav items */
	ul#nav li {
		float: left;
		padding: 0;
		list-style: none;
		list-style-image: none;
		border-left: 1px solid #262837;
		margin-top: -1px;
		height: 49px;
	}
	ul#nav > li.last { 
		border-right: 1px solid #262837;
	}
	ul#nav li.first { 
		margin-left: 9px;
	}
	ul#nav li a {
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		line-height:50px; /* line height is better than top and bottom padding */
		display: block;
		text-align: left;
		padding: 0px 15px;
		white-space: nowrap;
		text-transform: capitalize;
		color: #fff;
		border-left: 1px solid #6d798c;
		border-right: 1px solid #6d798c;
		text-shadow: 0 1px 1px rgba(255, 255, 255, .25);
		height: 48px;
	}
/* yes, you can combine the bottom two styles if you would like or need to */	
	ul#nav > li.current > a,
	ul#nav > li:hover > a,
	ul#nav > li:active > a {
		color: #97c3f2;
		border-left: 1px solid #485365;
		border-right: 1px solid #485365;
		
		background: #424e62; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */

	}
	ul#nav li.first a { }
	ul#nav li.last a { }
/* end first level nav items */		
	
/* start second level nav items */
		ul#nav li ul { /* second-level lists */
			position: absolute;
			width: 10em;
			left: -999em; /* using left instead of display to hide menus because display: none isnt read by screen readers */
			margin:0px;
			padding:0px;
		}
		ul#nav li ul li {
			height: auto;	
			margin-top: 0;
			border-bottom: 1px solid #262837;
			border-top: 1px solid #6D798C;
		}
		ul#nav li ul li a, 
		ul#nav li.current ul li a { /* second level dropdown buttons */
			width:200px;
			background-color: #424E62;
			border-top: none;
			line-height:30px;
			color:#fff;
			height: 30px;
			font-weight: normal;
		}
		ul#nav li ul li a:hover, 
		ul#nav li.current ul li a:hover { /* second level dropdown button hover state */	
			color:#97c3f2;
			
			background: #424e62; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */
		}
/* first and lasts in drop down */
		ul#nav li ul li.first a, 
		ul#nav li.current ul li.first a { }
		ul#nav li ul li.last a, 
		ul#nav li.current ul li.last a { }
/* end second level nav items */
		
/* start third level nav items */
			ul#nav li ul li ul {
				margin: -1em 0 0 200px;
			}
			ul#nav li ul li ul li a, 
			ul#nav li.current ul li ul li a { /* third level dropdown buttons */
				width:200px;
				color:#fff;
			}
			ul#nav li ul li ul li a:hover, 
			ul#nav li.current ul li ul li a:hover { /* third level dropdown button hover state */						
				
			}
/* first and lasts in drop down */
			ul#nav li ul li ul li.first a, 
			ul#nav li.current ul li ul li a { }
			ul#nav li ul li ul li.last a, 
			ul#nav li.current ul li ul li a { }
/* end third level nav items */
			
				ul#nav li:hover ul li ul,
				ul#nav li:hover ul li ul li ul,
				ul#nav li.sfhover ul li ul,
				ul#nav li.sfhover ul li ul li ul {
					left: -999em;
				}
				 
				ul#nav li:hover ul,
				ul#nav li ul li:hover ul,
				ul#nav li ul li ul li:hover ul,
				ul#nav li.sfhover ul,
				ul#nav li ul li.sfhover ul,
				ul#nav li ul li ul li.sfhover ul { /* lists nested under hovered list items */
					left: auto;
				}
/* hide mobile elements by default */
		#m-menu { display:none; }
		#navTab {display:none;}

/* Navigation  media queries */

@media only screen and (max-width: 767px) {
	 /* hide desktop elements in "mobile" view */
	 #menu { display:none; }  
	 #wrapper-menu {display:none;}
	 
	 a#navTab { /* mobile menu open button */
		display:block;
		width:100%;
		height:30px;
		cursor:pointer;
		margin:6px auto;
		z-index: 800;
		background-image:url("gfx/icon-menu.png");
		background-repeat:no-repeat;
		background-position:top center;
		z-index:900;
	}			
	a#navTab:hover { } 
	a#navTab.active {
		 background-position:bottom center;
	}
	 			  		 
	#m-wrapper-menu {  
		display:inline-block;
		width:100%;
		text-align:center;
		background: -moz-linear-gradient( top, #a3a3a3 0%, #3b3b3b 50%, #242424 50%, #000000);
		background: -webkit-gradient( linear, left top, left bottom, from(#a3a3a3), color-stop(0.50, #3b3b3b), color-stop(0.50, #242424), to(#000000));
		-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
		-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
		box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	}	
	#m-menu {
		height: auto;
		overflow: visible;
		padding: 0;
		position: relative;
		width: 100%;
		z-index: 800;
		display: block;
		margin:0 auto -6px;
	}
	#m-menu-content {
		display: none; /* hides the menu by default */
		position: relative;
		top: -6px;
	}		 	
	#m-menu ul#nav {
		margin: 0;
		padding: 0;
		width:auto;
		display: block;
		background-color:#CCC;
		border-top: none;
		box-shadow: 0px 2px 4px rgba(000,000,000,0.5);
		-webkit-box-shadow: 0px 2px 4px rgba(000,000,000,0.5);
	}
/* start first level nav items */
	#m-menu ul#nav li {
		float: none;
		padding: 0;
		list-style: none;
		list-style-image: none;	
		height: auto;
		margin-top: 0px;
	}
	#m-menu ul#nav li.last {
		border-left: 0px;
		border-right: 0px;
	}
	#m-menu ul#nav li.first {
		border-left: 0px;
		border-right: 0px;
		margin-left: 0px;
	}	
	#m-menu ul#nav li a {
		font-size: 14px;
		text-decoration: none;
		line-height:44px; /* line height is better than top and bottom padding */
		display: block;
		text-align: left;
		padding: 0px 15px;
		white-space: nowrap;
		text-transform: uppercase;
		color: #ffffff;
		background-color: #424E62;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px solid #262837;
		border-top: 1px solid #6D798C;
		height: 44px;
	}	
/* yes, you can combine the bottom two styles if you would like or need to */	
	nav#m-menu ul#nav > li.current > a,
	nav#m-menu ul#nav > li:hover > a,
	nav#m-menu ul#nav > li:active > a {
		color: #97c3f2;
			
		background: #424e62; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */
	}
/* end first level nav items */		
	
/* start second level nav items */
		#m-menu ul#nav li ul { /* second-level lists */
			position: relative;
			display:block;
			width:100%;			
			margin:0px;
			padding:0px;
			left:0px;
		}
		#m-menu ul#nav li ul li {
			border-top: none;
			border-bottom: none;
				
		}
		#m-menu ul#nav li ul li a, 
		#m-menu ul#nav li.current ul li a { /* second level dropdown buttons */
			width:auto;
			height: 30px;
			line-height:30px;
			color: #ffffff;
			padding: 0px 15px 0px 45px;
			text-transform: capitalize;
			font-size: 12px;
		}
		#m-menu ul#nav li ul li a:hover, 
		#m-menu ul#nav li.current ul li a:hover,
		#m-menu ul#nav li ul li a:active, 
		#m-menu ul#nav li.current ul li a:active { /* second level dropdown button hover and active states */
			color:#97c3f2;
			background: #424e62; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */
		
		}
/* end second level nav items */	

/* hide third level nav items */	
			#m-menu ul#nav li ul li ul { /* third-and-above-level lists */
				display:none;
			}
			#m-menu ul#nav li:hover ul li ul, 
			#m-menu ul#nav li:hover ul li ul li ul, 
			#m-menu ul#nav li.sfhover ul li ul, 
			#m-menu #nav li.sfhover ul li ul li ul {
				display:none;
				left: 0px;
			}
		 
				#m-menu ul#nav li:hover ul, 
				/*#m-menu ul#nav li ul li:hover ul, 
				#m-menu ul#nav li ul li ul li:hover ul,*/ 
				#m-menu ul#nav li.sfhover ul, 
				#m-menu ul#nav li ul li.sfhover ul /*, 
				#m-menu ul#nav li ul li ul li.sfhover ul */{ /* lists nested under hovered list items */
					display:block;
				}
} /* end mobile nav media query */

/* 10.FOOTER AREA */

/* mirror module for utility nav */
ul#mirror-menu-module {
	margin: 0px auto;
	padding: 5px 0;
	clear: both;
	position: relative; 
	z-index: 0; 
	font-size:12px;
	text-align:center;
	font-weight:normal;
	display: block;
	width: auto;
	height: auto;
	background-color: #6c798c;
}
ul#mirror-menu-module:before {
	position: absolute;
	content: '';
	height: 30px;
	width: 33px;
	left: -33px;
	top: 0;
	background: transparent url(gfx/modNavLeft.png) top right no-repeat scroll;
}
ul#mirror-menu-module:after {
	position: absolute;
	content: '';
	height: 30px;
	width: 33px;
	right: -33px;
	top: 0;
	background: transparent url(gfx/modNavRight.png) top right no-repeat scroll;	
}
ul#mirror-menu-module li {
	display: inline; /* remove and add float if you want the text left justified */
	/*float: left;*/
	padding: 0 15px;
	list-style: none;
	text-align: center;
}
ul#mirror-menu-module a {
	color:#fff;
	text-decoration: none;
}
ul#mirror-menu-module a:hover {
	color:#fff;
	text-decoration:underline;
}

/* YP Copyright */
div#copyright {
	clear: both;
	margin: 15px auto;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	color:#fff;
	width:95%;
}
div#copyright a{
	
}
div#copyright br {
	display:none;
}
.ypimg {
  float: right;
  margin: 0px 15px 0px 80px;
}
	
@media only screen and (max-width: 767px){
	div#copyright {
		text-align: center;
		font-size:10px;	
	}
	div#copyright br {
		display:block;
	}
	.ypimg {
		float: none;
		clear:right;
		margin: 10px 0px 10px 0px;
	}
}			

/* 10 b. Form Styling */
input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea {
	width: 95%;
}
select {
	width: 100%;	
}
@media only screen and (max-width: 767px) {
	select {
		width: 97.45%;	
	}
}
label {
	
}
input[type="text"],
select,
textarea {
	margin-bottom: 10px;
	border: 1px solid #97C3F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: 0 0 4px -1px #000000 inset;
	-webkit-box-shadow: 0 0 4px -1px #000000 inset;
}
input[type="text"]:hover,
select:hover,
textarea:hover,
input[type="text"]:active,
select:active,
textarea:active,
input[type="text"]:focus,
select:focus,
textarea:focus {
	border: 1px solid #97C3F2;
	box-shadow: 0 0 4px -1px #ffffff;
	-webkit-box-shadow: 0 0 5px -2px #ffffff;
}
input[type="text"]:focus {
	
} 
select {

}
select option {
	
}
textarea {

}
input[type="submit"], 
input[type="reset"] {
	padding: 3px 6px;
	text-align:center;  
	z-index:1001;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	color: #cccccc;
	text-shadow: 0 -1px 1px #262837;
	-webkit-text-shadow: 0 -1px 1px #262837;
	border-top: 1px solid #6D798C;
	text-transform: uppercase;
	border-left: transparent;
	border-right: transparent;
	background: #424e62; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */
	
	border-bottom: 1px solid #262837;
}
input[type="submit"]:hover, 
input[type="reset"]:hover,
input[type="submit"]:active, 
input[type="reset"]:active {
	cursor:pointer;
	background:#424e62;
	filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
}

/* ----- Websplanet widget form classes ----- */
.calculator-btn { /* match input[type=submit] styling */ }
.calculator-btn-text { /* match input[type=submit] styling */ }
/* Calculator widget input feilds: match input[type="text"] styling */
div.calories-calc div.calc-input-container input,
div.calories-calc div.calc-input-container select, 
div.mortgage-calc div.calc-input-container input, 
div.tax-calc div.calc-input-container input, 
div.pregnancy-calc div.calc-input-container input {}
/* Calculator widget input feilds: match input[type="text"] styling */
li.calc-param-row div.calc-input-container input, 
li.calc-resault-row div.calc-input-container input {}
/* unit caluclator tabs styling; match template styling */
div.unit-calc li.unit-menu ul.unit-type li a { /* default - color: blue; */ }
/* Conversion Calculator tabs */
div.unit-calc li.unit-menu ul.unit-type li a.active {
	color: blue; /* default: blue; */
	background-color: #ccccccc;/* default: #cccccc; */
}
div.unit-calc li.unit-menu ul.unit-type li a:hover {
	color: blue; /* default: blue; */
	background-color: #cccccc; /* default: #cccccc; */
	text-decoration: underline; /* default: underline; */
}

/* 11.WEBSPLANET DEFAULT */

/* Modules */
.module-wrapper {}
.module-title {}
.module-content {}

/* Widgets */
.widget-element {clear:left !important;}
.widget-wrapper {}
.widget-title {}
.widget-body {}
.diy-widget {min-height:25px;}

/* picture+text widget */
.image_wrapper.free-image-left{
	margin-right: 5px;
}
.image_wrapper.free-image-right{
	margin-left: 5px;
}

/* Default free text widget values */
.widget-body .freetextarea ul {list-style:disc outside none !important; padding-left:2em !important; margin:0.5em !important;}
.widget-body .freetextarea ul ul,
.widget-body .freetextarea ol ul {list-style:circle outside none !important;}
.widget-body .freetextarea ul ul ul,
.widget-body .freetextarea ul ol ul,
.widget-body .freetextarea ol ul ul,
.widget-body .freetextarea ol ol ul {list-style:square outside none !important;}

.widget-body .freetextarea ol {list-style:decimal outside none !important; padding-left:2em !important; margin:0.5em !important;}
.widget-body .freetextarea ol ol,
.widget-body .freetextarea ul ol {list-style:lower-latin outside none !important;}
.widget-body .freetextarea ol ol ol,
.widget-body .freetextarea ol ul ol,
.widget-body .freetextarea ul ol ol,
.widget-body .freetextarea ul ul ol {list-style:lower-roman outside none !important;}

.widget-body .freetextarea ul li,
.widget-body .freetextarea ul ul li,
.widget-body .freetextarea ol ul li,
.widget-body .freetextarea ul ol ul li,
.widget-body .freetextarea ol ul ul li,
.widget-body .freetextarea ol ol ul li,
.widget-body .freetextarea ul ul ul li,
.widget-body .freetextarea ol li,
.widget-body .freetextarea ol ol li,
.widget-body .freetextarea ul ol li,
.widget-body .freetextarea ol ol ol li,
.widget-body .freetextarea ol ul ol li,
.widget-body .freetextarea ul ol ol li,
.widget-body .freetextarea ul ul ol li {list-style:inherit !important;margin:0 !important}

/* Default font size values */
.widget-body .freetextarea font[size="1"] {font-size:xx-small}
.widget-body .freetextarea font[size="2"] {font-size:x-small}
.widget-body .freetextarea font[size="3"] {font-size:small}
.widget-body .freetextarea font[size="4"] {font-size:medium}
.widget-body .freetextarea font[size="5"] {font-size:large}
.widget-body .freetextarea font[size="6"] {font-size:x-large}
.widget-body .freetextarea font[size="7"] {font-size:xx-large}

/*------------widget popup default ---------*/
.widget-popup{
    overflow:hidden; 
    top:0px; 
    left:0px;
    position:absolute; 
    width:100%;                       
    z-index:1000;
}
.widget-popup-control-bar{
    overflow:hidden; 
    position:fixed; 
    top:0px; 
    left:0px;
    width:100%;
    height:30px;
}
.widget-popup-content{
    display:inherit;
    overflow:hidden; 
    position:absolute; 
    top:30px; 
    left:0px;
    width:100%;
    height:420px;
    display:inherit;
}
.widget-button{
	width:auto; 
	height:auto; 
	text-align:center;  
	z-index:1001;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	font-size: 24px;
	line-height: 50px;
	color: #cccccc;
	text-shadow: 0 -1px 1px #262837;
	-webkit-text-shadow: 0 -1px 1px #262837;
	text-transform: uppercase;
	border-top: 1px solid #6D798C;
	
	background: #424e62; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyNGU2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzQwNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #424e62 0%, #334053 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424e62), color-stop(100%,#334053)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #424e62 0%,#334053 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #424e62 0%,#334053 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #424e62 0%,#334053 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #424e62 0%,#334053 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424e62', endColorstr='#334053',GradientType=0 ); /* IE6-8 */
	
	border-bottom: 1px solid #262837;
}
div.widget-button:hover,
div.widget-button:active {
	cursor:pointer;
	background:#424e62;
	filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .widget-popup{
    	height: 300px;
	}
}
@media only screen and (max-width: 767px) {
	.widget-popup{
    	height: 480px;
    }
}
.widget-wrapper{
	margin:10px 15px !important;
}

/* back to top */
#back-top {
	position: fixed;
	bottom: 30px;
	right: 10px;
	z-index: 600;
}
#back-top a {
	width: 42px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #e5e5e5;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	
	
}
#back-top a:hover,
#back-top a:active {
	color: #97C3F2;
}
/* arrow icon (span tag) */
#back-top span {
	width: 42px;
	height: 46px;
	display: block;
	margin-bottom: 7px;
	background: #031533 url("gfx/back-to-top.png") no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	border:1px solid #fff;
}
#back-top a:hover span,
#back-top a:active span {
	background-color: #97C3F2;
}
/* end back to top */

/* gallery */ 
.es-carousel ul li img {cursor:pointer;}
/* end gallery */

/* mobile quick nav buttons */
#m-panel {
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#999;
	z-index: 6666;
	text-align:center;
	display:none;
}
a.m-click-phone, a.m-click-mail, a.m-click-map {
	float:left;
	height:45px;
	line-height:45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 0px 0px;
	text-align:center;
	/* this is the background of quick nav. please do not add left and right borders. They will mess up the widths of the buttons and will not display correctly. */
	background: -moz-linear-gradient( top, #a3a3a3 0%, #3b3b3b 50%, #242424 50%, #000000);
	background: -webkit-gradient( linear, left top, left bottom, from(#a3a3a3), color-stop(0.50, #3b3b3b), color-stop(0.50, #242424), to(#000000));
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
}
a.m-click-phone, 
a.m-click-mail, 
a.m-click-map {
	width:33%;
}
a.m-click-mail {
	width:34%;
}
a.m-click-phone span, 
a.m-click-mail span, 
a.m-click-map span {
	height:45px;
	width:100%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	background-image: url("gfx/mobile-panel-icons.png");
	background-repeat:no-repeat;
	display:block;
	padding:0px;
	text-indent:-9950px;
}	
a.m-click-phone span { 
	background-position:center center;
}
a.m-click-mail span{
	background-position:bottom center;
}
a.m-click-map span{
	background-position:top center;
}
@media only screen and (max-width: 767px) {	
	#m-panel {
		display:block;
	}
	#copyright {
		padding-bottom:45px;
	}
}
/* end mobile quick nav buttons */

/* 
   -------------------------------------------------------
   --------------- Websplanet widget fixes --------------- 
   -------------------------------------------------------
*/

/* Websplanet mobile fixes */
form ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
nav#menu ul li a.hover { }
/* footer data link */
a.websplanet {
	color: #fff;
	text-decoration: underline;
}
.footerLinks {
    float: right;
    text-align: left;
}
.footerText {
	display: none; /* these are just empty spans in the footer area, display none lets .addthis_toolbox to be aligned properly */
}
.addthis_default_style .at300b, 
.addthis_default_style .at300bo, 
.addthis_default_style .at300m {
	margin-top: 4px;
}
/* ---------- Start UI styling fixes ---------- */
.ui-widget-content a {
	/* match <a> color */
}
.ui-accordion-content { /* with padding-top at 0px, there is a space under accoridon button without a background color; requires !important */
	padding-top: 7px !important;
}

/* ----------  start Webs Planet widget fixes ----------  */

/* to match google map links */
.bing-maps div a {
	font-size: 13px; /*match a, a:visited { styling } */
	line-height: 16px;
	display: inline;
}
/* iframe has height of 0px but makes container div taller than the button */
iframe#Guesbook_csiframe {
	display: none;
}
.reviewSubject h4 {
	font-size: 20px !important;  /* match h4 styling; requires !important */
}
.ypreviews {
	margin-bottom:30px;
}
/* RSS widget styling --- rss feed widget styeling, typography is completely different */
.rss-item-title a {
	font: 20px; /* match h4 styling */
}
div.rss ul {
    padding: 0;
}
div[type=rss_widget] > div.widget-body > div { /* match h3 styling; requires !important */
	font: 28px/28px Helvetica, Arial, sans-serif !important;
}
div[type=rss_widget] ul { /* remove indent; requires !important */
	padding-left: 0 !important; 
}
/* payment types text */
.PaymentMethod_widget .checkboxPaymentMethod p { /* match paragraph styling */
	font-size: 13px;
	line-height: 16px;
}
.facebook-like-box iframe {
    max-width: 100%;
}
/* accordion and tabs break grid, this adds a margin to match other "widget-wrapper"s */
div.diy-f-accordion,
div.diy-f-tabs,
div.diy-f-spot {
	margin: 10px 15px;
}
/* Accordian fixes */
.diy-f-accordion h3 {
	font-size: 28px; /* match h3 styling */
	line-height: 28px; /* .ui-helper-reset has it set at 1.3em */
	padding: 12px 0 12px 36px; /* default is em based */
}

/* ---------- Forms Fixes ----------*/
.form-manager li input[type="text"], 
.contact-us li input[type="text"] {
   width: 98%;
}
.form-manager label {
	line-height: 25px;
	padding-bottom:0px;
}
textarea { 
	resize:vertical; 
	max-height:200px; 
	min-height:75px;
}
/* Forms Manager */
label {
	margin-top: 0 !important; /* forms manager sets to 12px */
	line-height: 16px !important; /* forms manager sets to 25px */
}
.form-manager li { /* spaces form feilds better, chunks items together */
	margin-bottom: 12px !important;
}
.name-field { /* unifies width to other form elements */
	width: 48% !important; /* default is 49% */
	margin-right: 2% !important; /* defaut is 0 and has no space between inputs (first and last names) */
}
li.adress-block-field {
	margin-right: 2%;
	width: 48%;
}
/* Contact Form */
.contact-us label {
	padding-bottom: 0px;
}
.contact-us li {
	margin-bottom: 6px;
}
.contact-us input[type="submit"] {
	margin-top: 0px;
}

/* Calculators */
div.calc-input-container input[type=text] { /* remove styled margin-bottom, it pushes sub-labels down */
	margin-bottom: 0 !important;
}
div.calc-input-container {
	margin-bottom: 12px !important; /* add margin-bottom from child input */
}
div.unit-results ul li input { /* fix width */
	width: 97%;
}	
li.calc-param-row label {
  padding: 0 0 5px;
}
li.calc-param-row, 
li.calc-instruction-row, 
li.calc-resault-row {
	height:auto !important; 
	margin-bottom:5px;
}
li.calc-param-row div.calc-input-container, 
li.calc-resault-row div.calc-input-container {
  clear: left;
  float: left;
}
.calculator-btn {
	float:left;
}

/* weight calculator */
div.calories-calc div.calc-input-container span.small {
	display:none;
}
div.calc-input-container #weight_kg, 
div.calc-input-container #cen {
	display:none;
}
div.calc-input-container span.or {
	display:none !important;
}
div.calories-calc div.calc-input-container input[type="radio"] {
  border: 0px solid #AACFE4;
}

/* conversion calculator */
div.unit-calc li.unit-menu ul.unit-type {
  display: inline-block;
  text-align: center;
  width: 100%;
}
div.unit-calc li.unit-menu ul.unit-type li {
  clear: none !important;
  display: block;
  float: left; 
  text-align: center;
  font-size: 10px;
  width:auto !important;
}
div.unit-calc li.unit-menu ul.unit-type li a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #E6E6E6;
  background-image: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6);
  background-repeat: no-repeat;
  border-color: #CCCCCC #CCCCCC #BBBBBB;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 5px 8px;
  transition: all 0.1s linear 0s;
  display: inline;
  margin: 2px 5px;
  text-decoration:none;
  color: #333333;
  line-height: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
} 
div.unit-calc li.unit-menu ul.unit-type li a.active, 
div.unit-calc li.unit-menu ul.unit-type li a:hover {
	 background-image: linear-gradient(#d7d7d7, #d7d7d7 25%, #c7c7c7 );
	 color:#000;
	 text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
     text-decoration:none;
}

/* results */
 li.calc-resault-row label {
  padding: 5px 0;
  width:100% !important;
}

/* clock fix*/
.big-clock {
  font-size: 30px !important;
}

/* Payment Method Fixes */
ul.PaymentMethod_widget  label {
	display:none;
}
.PaymentMethod_widget .checkboxPaymentMethod span {
	height: 40px;
	width: 62px;
}
li.checkboxPaymentMethod {
	margin: 0px !important;
	width: 62px !important;
}

/* Guestbook fixes */
.diy-guestbook-form input, 
.diy-guestbook-form textarea {
    clear: left;
    float: left;
}

/* --------------- end Websplanet widget fixes --------------- */

/* column percentage display in DIY tool */
.diy-percent-width {
	width: auto !important;
	top: 8px !important;
	right: 0px !important;
	display: block !important;
	font-size: 11px !important;
	line-height: 16px !important;
	border-radius: 4px !important;
	font-weight: bold !important;
	text-align: center !important;
	color: #fff !important;
	height: 16px !important;
}

/* --------------- begin Websplanet module fixes --------------- */

/* MODULE STYLING 4/4/2013 */
.Events_item_date {
    padding-top: 6px;
}
.Events_item_title a {
    font-size: 21px;
    line-height: 24px;
    text-decoration: none;
}
.Events_item_title a:hover {
	text-decoration: underline;
}
div.Events_item {
	padding: 0;
}
#FAQ_category_list li a,
#FAQ_category_list li a:visited {
    background-color: red; /* replace with theme color */
    border-radius: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif; /* replace with theme fonts */
    font-size: 21px;
    height: auto;
    line-height: 40px;
    text-align: center;
    width: auto;
    z-index: 1001;
    color: #fff;
    border: none;
}
#FAQ_category_list li a:hover,
#FAQ_category_list li a:focus,
#FAQ_category_list li a:active {
	cursor:pointer;
	box-shadow: 0 0 10px #000000 inset;
	-webkit-box-shadow: 0 0 10px #000000 inset;
	background: red; /* replace with theme color */
    filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
}
ul#FAQ_category_list span {
	margin: 0 12px 24px;
}
div.jobs-desc p {
    padding: 10px;
}
div#jobs-module ul {
    margin: 0;
    padding: 0;
}
.jobs-title,
.jobs-title:hover {
    background: none;
    border: none;
	font-family: Arial, Helvetica, sans-serif; /* replace with theme fonts */
	font-size: 24px;
	padding-left: 0px;
	color: #E40A0A; /* replace with theme color */
}
.jobs-title a:hover,
.jobs-title a:focus,
.jobs-title a:active {
	text-decoration: underline;
}
.jobs-apply a {
    background-color: #E40A0A; /* replace with theme color */
    border-radius: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;/* replace with theme fonts */
    font-size: 16px;
    height: auto;
    line-height: 40px;
    text-align: center;
    width: 100%;
    z-index: 1001;
    color: #fff;
    border: none;
}
.jobs-apply a:hover,
.jobs-apply a:active,
.jobs-apply a:focus {
    cursor:pointer;
	box-shadow: 0 0 10px #000000 inset;
	-webkit-box-shadow: 0 0 10px #000000 inset;
	background: #E40A0A; /* replace with theme color */
}
/* --------------- end Websplanet module fixes --------------- */

/* --------------- Default Site Callout Classes --------------- */
div.horizontal.callouts div.vertical div.diy-f-spot.callout1 div.diy-f-spot-inner div.widget-wrapper,
div.horizontal.callouts div.vertical div.diy-f-spot.callout2 div.diy-f-spot-inner div.widget-wrapper {
	width:45% !important;
	float:left !important;
	margin-right: 0 !important;
}	
@media screen and (max-width: 767px) {
	div.horizontal.callouts div.vertical div.diy-f-spot.callout1 div.diy-f-spot-inner div.widget-wrapper,
	div.horizontal.callouts div.vertical div.diy-f-spot.callout2 div.diy-f-spot-inner div.widget-wrapper {
		width:auto !important;
		float:left !important;
		margin-right: 15px !important;
	}
}